.content.sort {
  width: 20%;
  padding-block-end: 2rem;
}

.sort-form {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 100%;
}

.sort-radio-group {
  height: 6rem;
}

.sort-radio-options {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .content.sort {
    width: 50%;
  }
}