.navbar {
  height: 100%;
  width: 7rem;
  display: flex;
  background-color: rgb(199, 149, 10);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  flex-flow: column;
  align-items: center;
}

button.navbar-link {
  display: none;
}

.navbar-link:hover {
  background-color: #444;
}

.navbar-link {
  height: auto;
  width: 100%;
  text-align: center;
}

.navbar-link .active {
  background-color: #444;
}

.navbar-options-link {
  color: black;
  height: auto;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: none;
  padding-block: 10%;
  font-size: 19px;
  cursor: pointer;
}

.navbar-options-link:hover {
  background-color: #444;
  color: white;
}

@media (max-width: 400px) {
  .navbar {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #444;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  .navbar-link {
    width: 100%;
    text-align: center;
  }

  .navbar-link:active {
    background-color: rgb(199, 149, 10);
  }

  button.navbar-link {
    all: unset;
    width: 100%;
    text-align: center;
  }

  .navbar-options-link {
    display: none;
  }
}
