.Footer {
  padding-top: 1%;
  height: 100%;
  width: 5%;
  display: flex;
  background-color: rgb(199, 149, 10);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  flex-flow: column;
  align-items: center;
}

button.footer-link {
  display: none;
}

.footer-link:hover {
  background-color: #444;
}

.footer-link {
  height: 6%;
  width: 100%;
  text-align: center;
}

.footer-link .active {
  background-color: #444;
}

.footer-options-link {
  color: black;
  height: 6%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: none;
  padding-block: 10%;
  font-size: 19px;
}

.footer-options-link:hover {
  background-color: #444;
}

@media (max-width: 400px) {
  .Footer {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #444;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  .footer-link {
    width: 100%;
    text-align: center;
  }

  .footer-link:active {
    background-color: rgb(199, 149, 10);
  }

  button.footer-link {
    all: unset;
    width: 100%;
    text-align: center;
  }

  .footer-options-link {
    display: none;
  }
}
