.available-message {
  border-radius: 15px;
  color: white;
  padding: 1rem;
  max-height: 80px;
}

.book-is-available {
  background-color: green;
}

.book-is-unavailable {
  background-color: red;
}