.book-details {
  margin: 0 auto;
  width: 100%;
  padding-inline: 200px;
  min-width: 500px;
  max-height: 1000px;
  height: 1000px;
}

.book-details-main {
  display: flex;
  justify-items: center;
  gap: 5rem;
}

.book-details-cover {
  object-fit: cover;
  width: 300px;
  height: 100%;
}

.book-details-sidecontent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.book-details-fields-sidecontent {
  width: 100%;
}

.book-details-field-sidecontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

.book-details-main-content {
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  align-items: center;
  width: 70%;
  row-gap: 3rem;
}

.book-details-title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.book-details-title {
  font-variant: small-caps;
  font-size: 50px;
  margin: unset;
}

.book-details-description {
  all: unset;
  text-align: justify;
  font-size: 18px;
  padding-inline: 40px;
}

.book-details-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.book-details-field {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.book-details-label {
  font-size: 24px;
  font-weight: bold;
}

.book-details-label-sidecontent {
  font-size: 18px;
}

.book-details-actions-field {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.book-details-btn {
  color: white;
  border-radius: 8px;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 18px;
  cursor: pointer;
  min-width: 100px;
  width: 140px;
}

.book-details-authors {
  text-align: center;
  padding-inline: 5px;
}

.edit {
  background-color: #6E654C;
}

.edit.mobile {
  display: none;
}

.delete {
  background-color: red;
}

.rent {
  background-color: green;
}

h3, label, h4 {
  margin: unset;
}

.book-details-mobile-fields {
  display: none;
}

@media (max-width: 400px) {
  .book-details {
    height: unset;
    max-height: unset;
    width: 100%;
    padding-inline: unset;
    min-width: unset;
  }

  .book-details-main {
    flex-flow: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem
  }

  .book-details-cover-section {
    width: unset;
  }

  .book-details-main-content {
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    row-gap: 1rem;
  }

  .book-details-title {
    text-align: center;
    font-size: 35px;
  }

  .book-details-description {
    padding-inline: 20px;
  }

  .book-details-fields{
    all: unset;
  }

  .book-details-admin-field {
    width: 100%;
  }

  .edit.mobile {
    display: unset;
  }

  .edit.desktop {
    display: none;
  }

  .book-details-fields-sidecontent {
    display: none;
  }

  .book-details-title-section {
    flex-flow: column;
    row-gap: 15px;
  }

  .book-details-mobile-fields {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
  }

  .book-details-actions-field {
    flex-flow: column;
  }
}