@media (max-width: 400px) {
  .MobileSidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #444;
    display: flex;
    flex-flow: column-reverse;
    z-index: 100;
    width: 50%;
    min-height: 100vh;
  }

  .sidebar-link {
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: none;
    padding-block: 10%;
  }

  .sidebar-link:active {
    background-color: rgb(199, 149, 10);
  }
}
