.rent-history {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem
}

.rent-history-table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid black;
}

.rent-history-table-header {
  text-align: center;
}

.rent-history-table-data {
  text-align: center;
}

.return-book-btn {
  border-radius: 15px;
  background-color: rgb(199, 149, 10);
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
}