.book-card {
  display: flex;
  flex-flow: column;
  width: 20%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  background-color: #444;
  box-shadow: 5px 0 20px 2px #666;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
  justify-content: space-evenly;
  cursor: pointer;
}

.book-card:active {
  opacity: 0.8;
  box-shadow: 0 0 30px 30px #666;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.book-card:hover {
  opacity: 0.8;
  box-shadow: 0 0 30px 30px #666;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.book-card-cover {
  width: 100%;
  object-fit: fill;
  align-self: center;
  aspect-ratio: 4 / 3;
}

.book-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
}

.book-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.book-card-info {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.book-card-info-title {
  width: 100%;
  align-self: center;
}

.book-card-info-content {
  width: 100%;
  text-align: right;
  align-self: center;
}

.book-card-info-content--hide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 400px) {
  .book-card {
    justify-content: unset;
    margin: unset;
    width: 100%;
    margin-bottom: 2rem;
  }
}