.book-form {
  display: flex;
  flex-flow: column;
}

.book-form-fields {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  margin-bottom: 1rem;
}

.book-form-field {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 18px;
}

.book-placeholder {
  all: unset;
  background-color: white;
  cursor: pointer;
}

.book-cover {
  height: 200px;
  width: 200px;
  object-fit: fill;
}

.book-input {
  width: 220px;
  height: 25px;
  font-size: 15px;
}

.book-error-label {
  color: red;
}

.book-error-input {
  border: 2px solid red;
}

.book-text-area {
  font-size: 14px;
  width: 525px;
}

.book-author-select {
  color: #444;
  width: 220px;
  max-width: 220px;
}

.book-accordion {
  width: 200px;
  cursor: pointer;
}

.book-accordion-item {
  background-color: #444;
}

.book-accordion-title {
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  max-height: 40px;
}

.book-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.book-accordion-content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.book-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.book-btn {
  color: white;
  border-radius: 10px;
  padding-block: 7px;
  padding-inline: 12px;
  font-size: 16px;
  cursor: pointer;
}

.new-book-btn {
  background-color: rgb(199, 149, 10);
  padding: 1rem;
}

.submit-book-btn {
  flex-grow: 1;
  justify-items: center;
}

.book-error-message {
  color: red;
  margin-bottom: 1rem;
  font-size: 16px;
}

.book-error-message.hidden {
  display: none;
}

.author-add-btn {
  display: none;
}

@media (max-width: 400px) {
  .book-header {
    color: whitesmoke;
  }

  .book-form {
    color: white;
  }

  .book-accordion {
    display: none;
  }

  .book-form-fields {
    all: unset;
  }

  .author-add-btn {
    display: inline;
    border-style: none;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 14px;
    background-color: #D5BF81;
    color: #666;
  }

  .book-form-field {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 16px;
  }

  .book-author-select {
    color: #444;
    width: 220px;
    max-width: 220px;
  }

  .book-text-area {
    font-size: 14px;
    width: 220px;
  }
}