.modal {
  overflow-y: auto;
}

.content {
  padding: 12px 12px;
}

.add-book-modal {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-book-close-modal {
  align-self: flex-end;
  background-color: red;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  padding: 1rem;
  cursor: pointer;
}