.header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #444;
  overflow: hidden;
  min-height: 6.875rem;
}

.header-search {
  display: flex;
  margin: 1%;
  width: 15%;
  flex-flow: row;
  max-height: 80px;
  justify-content: center;
  flex-grow: 1;
}

.header-search-bar {
  all: unset;
  background-color: #444;
  color: white;
  border: 1px solid black;
  padding: 0.8%;
  width: 40%;
  border-radius: 15px;
}

.header-user {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn {
  display: flex;
  height: 1.6rem;
  width: 4.7rem;
  padding-block: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #f4f3f3;
  text-decoration: none;
  background: none;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}

.header-link {
  color: #f4f3f3;
  text-decoration: none;
  background: none;
}

.header-btn:hover {
  background-color: rgb(199, 149, 10);
  cursor: pointer;
}

.hide-search {
  display: none;
}

@media (max-width: 400px) {
  .header {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    min-height: 3.5rem;
  }

  .header-search {
    display: flex;
    margin: 1%;
    flex-flow: row;
    justify-content: center;
  }
  
  .header-search-bar {
    all: unset;
    background-color: #444;
    color: white;
    border: 1px solid black;
    padding: 2%;
    width: 70%;
    border-radius: 15px;
  }

  .visible {
    top: 0;
    transition: top 0.4s ease-out;
  }

  .hidden {
    top: -80px;
    transition: top 0.4s ease-out;
  }

  .header-user {
    display: none;
  }
}
