.signIn {
  margin: 0 auto;
  background-color: #555;
  border-radius: 15px;
  padding-inline: 8rem;
  padding-bottom: 8rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: column;
}

.label {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.title {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 3rem;
}

.signIn-form {
  margin: 1rem;
}

.form-field {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.form-field-button {
  text-align: center;
}

.form-button {
  all: unset;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(199, 149, 10);
  padding: 0.6rem;
  font-size: 20px;
}

.form-input {
  font-size: 16px;
  width: 20rem;
  height: 2rem;
}

@media (max-width: 400px) {
  .signIn {
    padding-inline: 4rem;
    padding-bottom: 4rem;
  }

  .form-input {
    width: 13rem;
    height: 2rem;
  }
}
