@media (max-width: 400px) {
  .Footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #444;
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }

  .footer-link {
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: none;
  }

  .footer-link:active {
    background-color: rgb(199, 149, 10);
  }
}
