.homePage {
  margin: 0 auto;
}

.fab {
  display: none;
}

@media (max-width: 400px) {
  .fab {
    all: unset;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 4.8rem;
    margin-right: 1rem;
    background-color: rgb(219, 130, 22);
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 3px 3px #444;
  }
  
  .fab:active {
    box-shadow: 0 0 10px #cdc3c3;
  }
}