.create-book-page {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #555;
  border-radius: 15px;
  padding-inline: 3rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.form-header {
  color: whitesmoke;
}

.create-book-form {
  display: flex;
  flex-flow: column;
  color: white;
}

.create-book-button {
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(199, 149, 10);
  padding: 0.6rem;
  font-size: 14px;
  width: 6rem;
}

.create-book-form-field {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}

.author-select {
  color: #444;
  width: 220px;
  max-width: 220px;
}
